body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-bg {
    width: 100%;
    height: 500%;
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(to right top, #004050, #00a0ff, #00c4e0, #00df86, #a8eb12);
}
